.offcanvas-body.custom-scrollbar {
  max-height: calc(100vh - 56px); /* Adjust to your header height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 1rem; /* Add some padding */
  display: flex;
  flex-direction: column;
}

.offcanvas-body.custom-scrollbar form {
  flex: 1 1 auto;
  overflow-y: auto;
}

// .offcanvas-body.scrollable::-webkit-scrollbar {
//   width: 8px;
// }

// .offcanvas-body.scrollable::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 0.3);
//   border-radius: 4px;
// }

// .offcanvas-body.scrollable::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(0, 0, 0, 0.5);
// }

// .offcanvas-body.scrollable::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4154f1;
  border-radius: 10px;
}

::ng-deep.offcanvas.show {
  width: 550px;
}