<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">NiceAdmin</span>
                        </a>
                    </div>

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                <p class="text-center text-danger" *ngIf="loginFailed">Invalid Credentials</p>
                            </div>

                            <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="checkCredentials()">

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Username</label>

                                    <input type="text" name="username" class="form-control" id="yourUsername"
                                        placeholder="Enter your email" formControlName="email"
                                        [ngClass]="{'border-danger': isSubmitted && loginForm.get('email')?.invalid}">
                                    <span class="text-danger"
                                        *ngIf="isSubmitted && loginForm.get('email')?.hasError('required')">
                                        Please enter your username.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="!loginForm.get('email')?.hasError('required') &&loginForm.get('email')?.hasError('email')">
                                        Enter a valid email address.
                                    </span>
                                </div>

                                <div class="col-12 mb-2">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <div class="input-group">

                                        <input type="{{showPassword ? 'text' : 'password'}}" name="password"
                                            class="form-control" id="yourPassword" formControlName="password"
                                            placeholder="Enter your password"
                                            [ngClass]="{'border-danger':isSubmitted && loginForm.get('password')?.invalid}">

                                        <span class="input-group-text" (click)="togglePassword()">
                                            <i class="bi bi-{{showPassword ? 'eye-slash' : 'eye'}}"></i>
                                        </span>

                                    </div>
                                    <span class="text-danger" *ngIf="isSubmitted && loginForm.get('password')?.invalid">
                                        Please enter your password!
                                    </span>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>