<div class="card mb-3">

    <div class="card-body">

        <div class="pt-2 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
            <hr>
            <p class="text-center text-danger" *ngIf="loginFailed">Invalid Credentials</p>
        </div>

        <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="checkCredentials()">

            <div class="col-12">
                <label for="yourUsername" class="form-label">Email Address</label>

                <input type="text" name="username" class="form-control" id="yourUsername" placeholder="Enter your email"
                    formControlName="email"
                    [ngClass]="{'border-danger': isSubmitted && loginForm.get('email')?.invalid}">
                <span class="text-danger" *ngIf="isSubmitted && loginForm.get('email')?.hasError('required')">
                    Please enter your username.
                </span>
                <span class="text-danger"
                    *ngIf="!loginForm.get('email')?.hasError('required') &&loginForm.get('email')?.hasError('email')">
                    Enter a valid email address.
                </span>
            </div>

            <div class="col-12 mb-2">
                <label for="yourPassword" class="form-label">Password</label>
                <div class="input-group">

                    <input type="{{showPassword ? 'text' : 'password'}}" name="password" class="form-control"
                        id="yourPassword" formControlName="password" placeholder="Enter your password"
                        [ngClass]="{'border-danger':isSubmitted && loginForm.get('password')?.invalid}">

                    <span class="input-group-text" (click)="togglePassword()">
                        <i class="bi bi-{{showPassword ? 'eye-slash' : 'eye'}}"></i>
                    </span>

                </div>
                <span class="text-danger" *ngIf="isSubmitted && loginForm.get('password')?.invalid">
                    Please enter your password!
                </span>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Login</button>
            </div>
            <div class="col-12">
                <p class="small mb-0">
                    Don't have account?
                    <a [routerLink]="['/auth/register']">Create an account</a>
                </p>
            </div>
        </form>
    </div>
</div>