<div class="card mb-3">

  <div class="card-body">

    <div class="pt-2 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
    </div>

    <form class="row g-3 needs-validation" [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
      <div class="col-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" name="name" class="form-control" id="firstName" placeholder="Enter your first name"
          formControlName="firstName"
          [ngClass]="{'border-danger': fc['firstName'].hasError('required') && fc['firstName'].touched}">
        <ng-container *ngIf="fc['firstName'].hasError('required') && fc['firstName'].touched">
          <span class="text-danger">Please, enter your first name!</span>
        </ng-container>
      </div>

      <div class="col-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" name="name" class="form-control" id="lastName" placeholder="Enter your last name"
          formControlName="lastName">
        <ng-container *ngIf="fc['lastName'].hasError('required') && fc['lastName'].touched">
          <span class="text-danger">Please, enter your last name!</span>
        </ng-container>
      </div>

      <div class="col-12">
        <label for="yourEmail" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" id="yourEmail" placeholder="Enter your email"
          formControlName="email">
        <ng-container *ngIf="fc['email'].errors">
          <span class="text-danger" *ngIf="fc['email'].hasError('required') && fc['email'].touched">Please enter a
            email!</span>
          <span class="text-danger"
            *ngIf="fc['email'].hasError('email') && !fc['email'].hasError('required') && fc['email'].touched">Please
            enter a valid
            Email address!</span>
        </ng-container>
      </div>

      <div class="col-12">
        <label for="yourPassword" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="yourPassword" placeholder="Enter your password"
          formControlName="password">
        <ng-container *ngIf="fc['password'].hasError('required') && fc['password'].touched">
          <span class="text-danger">Please enter your password!</span>
        </ng-container>
      </div>

      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Create Account</button>
      </div>
      <div class="col-12">
        <p class="small mb-0">Already have an account? <a [routerLink]="['/auth/login']">Log in</a></p>
      </div>
    </form>

  </div>
</div>